# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# backup files
backup_db.json

# Local tools
local_db_tool.html


